* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #7d96fa;
  background: linear-gradient(315deg, #7d96faa1 1%, rgba(61, 133, 196, 1) 100%);
  font-family: "JetBrains Mono";
}

.container {
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.conteiner-list {
  background: white;
  height: 150px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.novaLista {
  font-weight: 600;
  font-size: 1.5rem;
  color: #7d96fa;
  transition: color 0.3s ease;
}

.icon {
  font-size: 32px;
  color: #7d96fa;
}

.conteiner-list:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.conteiner-list:hover .icon,
.conteiner-list:hover .novaLista {
  color: #1f4cff;
}
.description {
  color: #9ca3af;
  transition: color 0.3s ease;
}

.conteiner-list:hover .description {
  color: #374151;
  font-weight: 600;
}
